<%= form_for @competition_entry do |f| %>
  
  <%= f.hidden_field :competition_id, :value => @competition.id %>
  
  <fieldset>
    <div class="field">
      <%= f.label :answer %><br />
      <%= f.text_area :answer %>
    </div>
    
    <div class="field">
      <%= f.label :name %><br />
      <%= f.text_field :name %>
    </div>
    
    <div class="field">
      <%= f.label :postcode %><br />
      <%= f.text_field :postcode %>
    </div>
    
    <div class="field">
      <%= f.label :phone %><br />
      <%= f.text_field :phone %>
    </div>
    
    <div class="field">
      <%= f.label :email %><br />
      <%= f.text_field :email %>
    </div>
  
    <div class="actions">
      <%= f.submit "Submit" %>
    </div>
  </fieldset>
<% end %>
