<%= form_for([:admin, @campaign]) do |f| %>

  <%= f.error_messages %>

  <%= field_set_tag 'Basic Information' do -%>
    
    <div class="field">
      <%= f.label :name %><br />
      <%= f.text_field :name %>
    </div>
    
    <div class="field">
      <%= f.label :slug %><br />
      <%= f.text_field :slug %>
    </div>
    
    <div class="field">
      <%= f.label :logo %><br />
      <%= f.image_field :logo %>
    </div>
    
  <% end -%>
  
  <div class="actions">
    <%= f.submit %>
  </div>
  
<% end %>					
