<li><%= link_to LeaderboardEntry.model_name.human.pluralize, main_app.admin_leaderboard_entries_path %></li>
<li><%= link_to Competition.model_name.human.pluralize, main_app.admin_competitions_path %></li>
<li><%= link_to GameRule.model_name.human.pluralize, main_app.admin_game_rules_path %></li>
<li><%= link_to GameCard.model_name.human.pluralize, main_app.admin_game_cards_path %></li>
<li><%= link_to CompetitionEntry.model_name.human.pluralize, main_app.admin_competition_entries_path %></li>
<li><%= link_to Campaign.model_name.human.pluralize, main_app.admin_campaigns_path %></li>
<%# END OF LIST %>
