<!--
<div id="content-top">
  <div class="intro-box">
    <%= image_tag 'food-smart.png', :id => 'food-smart' %>
    <p>
      NHS Leeds in association with Change
      4 Life is launching its new "Leeds
      Lets Be Food Smart" healthy eating
      campaign running throughout March.
      The campaign will encourage people
      to look out for the "hidden nasties"
      salt, fat and sugar in many everyday
      foods and remind people that eating
      too much of these can be bad for our
      health. The campaign seeks to empower
      people to make smarter choices about
      what they eat and drink, it's not
      about stopping the family favourites its about making small changes to eat them in a healthier way.
    </p>
    <p>
      Why not try playing our new Leeds Lets Be Food Smart game which helps you to think about the calories hidden in many foods?
    </p>
    <p>
      The Leeds Lets Be Food Smart campaign has 4 key messages which can help you to be food smart, please see below.
    </p>
    <div class="clear"></div>
  </div>
  <div class="intro-box">
    <p>For more information on healthy eating click <%#= link_to("here", "http://www.leedsletschange.co.uk/pages/healthy-eating-online", :target => "blank") %>.</p>
  </div>
</div>
-->

<div id="content-boxes">

  <div class="info-box">
    <%= image_tag '5-a-day.png' %>
    <h2>5 a day</h2>
    <p>
      Eating enough fruit and veg is really
      important for our health. That’s
      because fruit and veg are good
      sources of vitamins, minerals and
      fibre. Adults and kids should aim
      to eat <span class="bold">5 A DAY</span>.
      Remember they don’t all have to
      be fresh - frozen, juiced, dried or
      canned all count!
    </p>
  </div>

  <div class="info-box">
    <%= image_tag 'fat.png' %>
    <h2>Cut back fats</h2>
    <p>
      We all know too much fat is bad for
      us. But what we don’t realise is how
      much fat is hidden in many of the
      foods we eat. You’ll find it in things
      like cheese, pies and processed meats
      and even some of your sweet treats.
      The good news is its easy to cut back
      fat. Try choosing lower-fat products
      and having smaller portions.
    </p>
  </div>

  <div class="info-box">
    <%= image_tag 'watch-the-salt.png' %>
    <h2>Watch the salt</h2>
    <p>
      Many of us enjoy a bit of salt to make
      things taste better. What we don’t
      realise is there’s a lot of hidden salt in
      the food we buy every day (even if
      they don’t taste salty, like bread,
      cereal, pizza and some sauces). Try to
      go easy with the ketchup and
      mayonnaise and skip the salt at the
      table.
    </p>
  </div>

  <div class="info-box">
    <%= image_tag 'sugar-swap.png' %>
    <h2>Sugar swaps</h2>
    <p>
      We’d never eat straight from the
      sugar bowl but some food and drinks
      are loaded with the sweet stuff.
      Adults and kids could try swapping
      sugary drinks for no added sugar
      drinks or water. Switch those sugary
      snacks like buns, cakes and biscuits for
      fruit or popcorn.
    </p>
  </div>

  <div class="info-box less-padding">
    <div class="category-card" onclick="window.location='/games/pycr/foods'">
      <div class="card-yellow">
        <%= image_tag '960/pycr-circle.png', :class => 'pycr-circle' %>
      </div>
      <div class="card-dark">
        FOOD
      </div>
    </div>
    <div class="category-card-text">
      Click above to play!
    </div>
  </div>

  <!--
  <div id="high-score-more-info">
    <div id="fruit-circle"></div>
    To enter our competition and be in with a chance of winning a fantastic prize
    <%= link_to 'click here', new_competition_entry_path %>
  </div>
  -->
  <div class="clear"></div>

</div>

<div class="clear"></div>
